body {
	font-family:Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #555;
}

#application {
	padding: 25px;
}

.button{
	display: inline-block;
	background-color: white;
	border: 2px solid #777;
	border-radius:5px;
	padding: 5px 10px;
	text-decoration:none;
	color:#555;
}
button{
	background:#fff;
	border:1px solid transparent;
	padding:1px 3px;
	border-radius:3px;
	cursor:pointer;
}
.delete:hover, .cancel:hover{ color:red; }
button:hover{
	border:1px solid #ccc;
	color:#1CA4FF;
}
.button:hover{
	background:#1CA4FF;
	border-color:#1CA4FF;
	color:#fff;
}

.commentlist {
	list-style-type: none;
}

.commentlist li {
	margin-bottom: 0px;
}

.comment {
	border-bottom:#AAAAAA solid 1px;
	width: 400px;
	min-height: 50px;
	font-size:0.9em;
}

.comment button {
	float: right;
}

.comment .notification {
	text-align: right;
	color: #aaa;
	font-size: 0.8em;
}

.commentform {
	background-color:#F3F3F3;
	padding: 15px;
	margin: 25px 0px 25px 30px;
	width: 400px;
}

.commentform textarea, .commentform input {
	width: 350px;
}